<%- model_class = Materia -%>
<div class="page-header">
  <h1>Materia</h1>
</div>

<div class="materia">
  <p><%= @materia.nombre_materia %></p>
  <p><%= @materia.asignatura.nombre_asignatura%></p>
</div>


